[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-graphql = "*"
mongoengine = "*"
bcrypt = "*"
stripe = "*"
google-i18n-address = "*"
google-auth = "*"
flask-cors = "*"
flask-admin = "*"
pillow = "*"
cryptography = "*"
boto3 = "*"
flask-wtf = "*"
sendgrid = "*"
flask-bootstrap = "*"
flask-paranoid = "*"
iso4217 = "*"
squareup = "*"
geocoder = "*"
flask-babelex = "*"
validators = "*"
pkce = "*"
graphql-core = "==2.2.1"
graphene = "==2.1.8"

[dev-packages]

[requires]
python_version = "3.9"
