<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </head>
  <body>
    <input type="file" id="filePicker" multiple/>
    <button onClick="upload()">Upload</button>
    <script>
      const endpoint = "/media/get_media_endpoint"
      function requestLink(file) {
        console.log(file)
        const fileData = {
          "content_type": file.type,
          "file_name": file.name,
          "file_size": file.size,
          "media_type": "UserMedia",
          "organization": "61e0e0e18ab1860e0b8f0605"
        }
        return new Promise((res, rej) => {
          const http = new XMLHttpRequest()
          http.open("POST", endpoint);
          http.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          http.setRequestHeader("Accept", "application/json;charset=UTF-8");
          http.onload = () => res(JSON.parse(http.responseText))
          http.onerror = rej
          http.send(JSON.stringify(fileData))
        })
      }
      function consumeLink(link, file) {
        return new Promise((res, rej) => {
          const http = new XMLHttpRequest()
          http.open("POST", link.url);
          const form = new FormData();
          for (const [key, val] of Object.entries(link.fields)) {
            form.append(key, val)
          }
          form.append('file', file)
          http.onload = () => res(http.responseText)
          http.onerror = rej
          http.send(form)
        })
      }
      async function upload() {
        const filePicker = document.getElementById("filePicker");
        const files = [...filePicker.files];
        files.forEach(async file => {
          const link = await requestLink(file);
          const response = await consumeLink(link, file);
        })
      }
    </script>
  </body>
</html>

